In [1]:
import pandas as pd
import numpy as np

In [3]:
score=pd.read_csv(r'C:\\Users\\yoonj\Desktop\\regression\\data\\final_score.csv', encoding='CP949')
score_dummy=score
score

,movieNm,daumScore,daumSpecialScore,movieScore,moviespecialScore
0,007 스펙터,6.3,5.6,7.02,5.69
1,12 솔져스,6.9,5.3,8.12,5.00
2,13시간,6.9,5.7,8.05,5.50
3,1987,9.5,7.9,9.22,8.08
4,19곰 테드 2,6.8,5.0,7.36,5.00
...,...,...,...,...,...
811,흥부: 글로 세상을 바꾼 자,5.4,4.6,4.42,4.57
812,희생부활자,5.5,5.0,6.04,5.17
813,히든 피겨스,9.0,6.8,9.36,6.75
814,히말라야,6.6,5.4,7.98,5.63
815,히트맨: 에이전트 47,6.5,0.0,7.90,5.50

In [4]:
#다음 네티즌 평점 범주화
for i in range(0,816):
    if(score['daumScore'][i]>=8 and score['daumScore'][i]<=10):
        score_dummy['daumScore'][i] = 'A'
    elif(score['daumScore'][i]>=6 and score['daumScore'][i]<8):
        score_dummy['daumScore'][i] = 'B'
    else:
        score_dummy['daumScore'][i] = 'C'
score_dummy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,movieNm,daumScore,daumSpecialScore,movieScore,moviespecialScore
0,007 스펙터,B,5.6,7.02,5.69
1,12 솔져스,B,5.3,8.12,5.00
2,13시간,B,5.7,8.05,5.50
3,1987,A,7.9,9.22,8.08
4,19곰 테드 2,B,5.0,7.36,5.00
...,...,...,...,...,...
811,흥부: 글로 세상을 바꾼 자,C,4.6,4.42,4.57
812,희생부활자,C,5.0,6.04,5.17
813,히든 피겨스,A,6.8,9.36,6.75
814,히말라야,B,5.4,7.98,5.63
815,히트맨: 에이전트 47,B,0.0,7.90,5.50

In [5]:
#네이버 네티즌 평점 범주화
for i in range(0,816):
    if(score['movieScore'][i]>=8.5 and score['movieScore'][i]<=10):
        score_dummy['movieScore'][i] = 'A'
    elif(score['movieScore'][i]>=6.5 and score['movieScore'][i]<8.5):
        score_dummy['movieScore'][i] = 'B'
    else:
        score_dummy['movieScore'][i] = 'C'
score_dummy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             movieNm daumScore  daumSpecialScore movieScore  moviespecialScore
0            007 스펙터         B               5.6          B               5.69
1             12 솔져스         B               5.3          B               5.00
2               13시간         B               5.7          B               5.50
3               1987         A               7.9          A               8.08
4           19곰 테드 2         B               5.0          B               5.00
..               ...       ...               ...        ...                ...
811  흥부: 글로 세상을 바꾼 자         C               4.6          C               4.57
812            희생부활자         C               5.0          C               5.17
813           히든 피겨스         A               6.8          A               6.75
814             히말라야         B               5.4          B               5.63
815     히트맨: 에이전트 47         B               0.0          B               5.50

[816 rows x 5 columns]

In [7]:
#다음 전문가 평점 범주화
for i in range(0,816):
    if(score['daumSpecialScore'][i]>=7 and score['daumSpecialScore'][i]<=10):
        score_dummy['daumSpecialScore'][i] = 'A'
    elif(score['daumSpecialScore'][i]>=5.5 and score['daumSpecialScore'][i]<7):
        score_dummy['daumSpecialScore'][i] = 'B'
    else:
        score_dummy['daumSpecialScore'][i] = 'C'
score_dummy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

             movieNm daumScore daumSpecialScore movieScore  moviespecialScore
0            007 스펙터         B                B          B               5.69
1             12 솔져스         B                C          B               5.00
2               13시간         B                B          B               5.50
3               1987         A                A          A               8.08
4           19곰 테드 2         B                C          B               5.00
..               ...       ...              ...        ...                ...
811  흥부: 글로 세상을 바꾼 자         C                C          C               4.57
812            희생부활자         C                C          C               5.17
813           히든 피겨스         A                B          A               6.75
814             히말라야         B                C          B               5.63
815     히트맨: 에이전트 47         B                C          B               5.50

[816 rows x 5 columns]

In [9]:
#네이버 전문가 평점 범주화
for i in range(0,816):
    if(score['moviespecialScore'][i]>=7 and score['moviespecialScore'][i]<=10):
        score_dummy['moviespecialScore'][i] = 'A'
    elif(score['moviespecialScore'][i]>=5.5 and score['moviespecialScore'][i]<7):
        score_dummy['moviespecialScore'][i] = 'B'
    else:
        score_dummy['moviespecialScore'][i] = 'C'
score_dummy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

             movieNm daumScore daumSpecialScore movieScore moviespecialScore
0            007 스펙터         B                B          B                 B
1             12 솔져스         B                C          B                 C
2               13시간         B                B          B                 B
3               1987         A                A          A                 A
4           19곰 테드 2         B                C          B                 C
..               ...       ...              ...        ...               ...
811  흥부: 글로 세상을 바꾼 자         C                C          C                 C
812            희생부활자         C                C          C                 C
813           히든 피겨스         A                B          A                 B
814             히말라야         B                C          B                 B
815     히트맨: 에이전트 47         B                C          B                 B

[816 rows x 5 columns]

In [10]:
score_dummy.to_csv('C:\\Users\\yoonj\Desktop\\regression\\data\\score_dummy.csv',index=False,encoding='CP949')